@media only screen and (max-width: 800px) {
    * {
        margin: 20px;
    }
    body {
        font-size: 30px;
    }
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 40px;
        margin: 20px 0;
        text-align: center;
    }
    h3 {
        font-size: 32px;
    }

    .chooseWisely {
        display: block;
        
        #selectTasks,
        #taskInput {
            width: 100%;
        }
        #taskInput {
            margin-bottom: 10px;
        }
    }
    #taskList,
    #finishedList {
        width: 45%;
    }
}